{% extends 'generic/object.html' %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">Agent Policy</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Orb ID</th>
              <td>{{ object.orb_id }}</td>
            </tr>
            <tr>
              <th scope="row">Extra Tags</th>
              <td>{{ object.extra_tags }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.Description }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-12">
      <!-- {% include 'inc/panels/tags.html' %} -->
      <!-- {% include 'inc/panels/comments.html' %} -->
    </div>
  </div>
{% endblock content %}